In [ ]:
import pandas as pd

# 판다스 문제

### 1. 다음 표를 참고하여 시리즈를 2가지 방식으로 생성하시오.

#### 과일 값
| 인덱스 | 값 |
|:---:|:---:|
| Apple | 100 |
| Banana | 150 |
| Cherry | 75 |
| Grape | 200 |
| Mango | 90 |

In [ ]:
# 1-1. 첫번째 방식

In [ ]:
# 1-2. 두번째 방식

### 2. 다음 표를 참고하여 넘파이를 활용하여 시리즈를 생성하시오!(넘파이의 특정 함수를 활용하여 인덱스와 값을 생성해야함)

| 인덱스 | 값  |
| :---:| :-: |
|  1   | 0   |
|  2   | 2   |
|  3   | 4   |
|  4   | 6   |
|  5   | 8   |
|  6   | 10  |

In [ ]:
import numpy as np

### 3. 다음 표를 생성하고 다음 3문제를 푸시오.

#### 일상의 작은 습관들

| 인덱스 | 값 |
|:---:|:---:|
| 월요일 | 커피 마시기 |
| 화요일 | 아침 산책 |
| 수요일 | 독서 |
| 목요일 | 운동 |
| 금요일 | 영화 보기 |
| 토요일 | 친구 만나기 |
| 일요일 | 낮잠 자기 |

#### 3-0. 위 표를 생성하시오.

In [ ]:
# 3-0

#### 3-1. 월요일날 무엇을 하였는지 인덱스를 활용하여 출력하시오.

In [ ]:
# 3-1

#### 3-2. 다음 표의 인덱스들을 출력하시오.

In [ ]:
# 3-2

#### 3-3. 다음 표의 값들을 출력하시오.

In [ ]:
# 3-3

### 4. 다음 표를 생성하고 다음 문제들을 푸시오.

#### 일주일간의 수면 시간

| 인덱스 | 값 (시간) |
|:---:|:---:|
| 월요일 | 7.5 |
| 화요일 | 6.8 |
| 수요일 | 7.0 |
| 목요일 | NaN |
| 금요일 | 7.2 |
| 토요일 | 8.5 |
| 일요일 | 9.0 |

#### 4-0. 위 표를 생성하시오.

In [ ]:
# 4-0

#### 4-1. 시리즈의 형태를 출력하시오.

In [ ]:
# 4-1

#### 4-2. 시리즈의 데이터 개수를 출력하시오.

In [ ]:
# 4-2

#### 4-3. 값이 존재하는 데이터의 개수를 출력하시오.

In [ ]:
# 4-3

#### 4-4. 데이터의 종류를 출력하시오.

In [ ]:
# 4-4

#### 4-5. 각 데이터의 값의 개수를 출력하시오.

In [ ]:
# 4-5

#### 4-6. 일주일 간 수면 시간 평균을 출력하시오.

In [ ]:
# 4-6

#### 4-7. 위 3개의 데이터만 출력하시오.

In [ ]:
# 4-7

#### 4-8. 아래 3개의 데이터만 출력하시오.

In [ ]:
# 4-8

### 5. 최종 주식 평가 금액 계산

A와 B, 두 명의 투자자가 각기 다른 주식 종목을 보유하고 있습니다.</br>
두 사람의 포트폴리오 변동 내역과 모든 주식에 동일하게 적용되는 최종 평가 배수가 주어졌을 때, 각 주식 종목의 최종 평가 금액을 계산하는 것이 문제입니다.

- 데이터

1. portfolio_A: 투자자 A의 초기 보유 주식 수를 나타내는 시리즈입니다. ('삼성전자'는 데이터가 누락되었습니다.)

2. portfolio_B: 투자자 B의 순매수 (양수) 및 순매도 (음수) 주식 수를 나타내는 시리즈입니다.

3. multiplier: 모든 주식에 동일하게 적용되는 최종 평가 배수(scalar)입니다.

계산 공식 : `최종 평가 금액 = (A 투자자의 초기 보유량 + B 투자자의 순매수/순매도 량) * 최종 평가 배수`

In [ ]:
import pandas as pd
import numpy as np

# 투자자 A의 초기 보유 주식 수
portfolio_A = pd.Series({'카카오': 100, '네이버': 150, '삼성전자': np.nan, '현대차': 80})

# 투자자 B의 순매수/순매도 주식 수
portfolio_B = pd.Series({'카카오': -30, '네이버': 50, 'SK하이닉스': 200, '현대차': -20})

# 최종 평가 배수
multiplier = 1.2

In [ ]:
# 답안 작성

### 6. 다음 표를 참고하여 3가지 방식으로 데이터프레임을 생성하시오.

#### 온라인 쇼핑몰 주문 정보

| 주문번호(인덱스) | 상품명 | 가격 | 수량 |
| :--- | :--- | :--- | :--- |
| 1 | 텀블러 | 15000 | 2 |
| 2 | 머그컵 | 12000 | 1 |
| 3 | 키보드 | 85000 | 1 |
| 4 | 텀블러 | 15000 | 1 |
| 5 | 마우스 | 25000 | 2 |

In [ ]:
# 6-1. 첫번쨰 방식

In [ ]:
# 6-2. 두번째 방식

In [ ]:
# 6-3. 세번쨰 방식

### 7. 위 6번 문제에서 생성된 온라인 쇼핑몰 주문 정보를 담은 데이터프레임을 가지고 다음 문제들을 푸시오.(단, 판다스의 함수를 활용하여 푸시오)

#### 온라인 쇼핑몰 주문 정보

| 주문번호 | 상품명 | 가격 | 수량 |
| :--- | :--- | :--- | :--- |
| 001 | 텀블러 | 15000 | 2 |
| 002 | 머그컵 | 12000 | 1 |
| 003 | 키보드 | 85000 | 1 |
| 004 | 텀블러 | 15000 | 1 |
| 005 | 마우스 | 25000 | 2 |

#### 7-1. 상품의 종류가 무엇이 있는지 출력하시오.

In [ ]:
# 7-1

#### 7-2. 상품의 평균 가격을 출력하시오.

In [ ]:
# 7-2

#### 7-3. 상품의 수량을 고려하여 전체 상품들의 평균 가격을 출력하시오.

In [ ]:
# 7-3

### 8. 다음 표를 데이터프레임으로 생성하고 다음 문제들을 푸시오.

#### 영화 정보

| 제목 | 감독 | 장르 | 러닝타임(분) | 개봉연도 |
| :--- | :--- | :--- | :--- | :--- |
| 인터스텔라 | 크리스토퍼 놀란 | SF | 169 | 2014 |
| 어벤져스: 엔드게임 | 안소니 루소, 조 루소 | 액션, SF | 181 | 2019 |
| 기생충 | 봉준호 | 드라마, 스릴러 | 132 | 2019 |
| 라라랜드 | 데이미언 셔젤 | 뮤지컬, 드라마 | 128 | 2016 |
| 겨울왕국 2 | 크리스 벅, 제니퍼 리 | 애니메이션, 뮤지컬 | 103 | 2019 |

In [ ]:
# 데이터 프레임 생성
movie = {
    '감독': ['크리스토퍼 놀란', '안소니 루소, 조 루소', '봉준호', '데이미언 셔젤', '크리스 벅, 제니퍼 리'],
    '장르': ['SF', '액션, SF', '드라마, 스릴러', '뮤지컬, 드라마', '애니메이션, 뮤지컬'],
    '러닝타임(분)': [169, 181, 132, 128, 103],
    '개봉연도': [2014, 2019, 2019, 2016, 2019]
}
movieData = pd.DataFrame(movie, ['인터스텔라', '어벤져스: 엔드게임', '기생충', '라라랜드', '겨울왕국 2'])
movieData

#### 8-1. 영화 '기생충'의 정보를 두가지 방식으로 출력하시오.

In [ ]:
# 영화 정보 출력

In [ ]:
# 첫번째 방식

In [ ]:
# 두번째 방식

#### 8-2. 영화 인터스텔라부터 라라랜드까지의 정보를 두가지 방식으로 출력하시오.

In [ ]:
# 영화 정보 출력

In [ ]:
# 첫번째 방식

In [ ]:
# 두번째 방식

####  8-3. 영화 기생충, 라라랜드의 감독들과 장르들을 출력하시오.(loc[] 사용]

In [ ]:
# 영화 정보 출력

In [ ]:
# 8-3

#### 8-4. 영화 어벤져스와 겨울왕국2의 러닝타임과 개봉연도를 출력하시오.(iloc[] 사용)

In [ ]:
# 영화 정보 출력

In [ ]:
# 8-4

#### 8-5. 다음은 표에 나타난 영화들의 평점들이다. 이를 표 3번째 위치에 새로운 칼럼으로 추가하시오.

| 제목 | 평점 |
|:--- |---:|
| 인터스텔라 | 9.2 |
| 어벤져스: 엔드게임 | 9.4 |
| 기생충 | 9.0 |
| 라라랜드 | 8.9 |
| 겨울왕국 2 | 8.5 |

In [ ]:
# 영화 정보 출력

In [ ]:
# 8-5

#### 8-6 아래의 영화 정보를 기존 데이터프레임에 추가하시오.


### 추가할 영화 정보

| 제목 | 감독 | 장르 | 평점 |러닝타임(분) | 개봉연도 |
| :--- | :--- | :--- | :--- | :--- | :--- |
| 범죄도시 3 | 이상용 | 액션, 범죄 |9.3 | 105 | 2023 |

In [ ]:
# 8-6

#### 8-7 인터스텔라와 라라랜드의 평점을 각각 9.4, 9.2로 수정하시오.

In [ ]:
# 데이터프레임 출력

In [ ]:
# 8-7

#### 8-8. 영화제목을 다 영어로 바꾸시오.(번역기 사용 가능)

In [ ]:
# 8-8

#### 8-9. 칼럼명을 다 영어로 바꾸시오.(번역기 사용 가능)

In [ ]:
# 8-9

#### 8-10. 러닝타임 칼럼을 데이터프레임에서 제거하시오.

In [ ]:
# 데이터프레임 출력

In [ ]:
# 8-10

#### 8-11. 인터스텔라 영화를 데이터프레임에서 제거하시오.

In [ ]:
# 8-11